<component name="ArtifactManager">
  <artifact type="exploded-war" name="SPRINGWEB:war exploded">
    <output-path>$PROJECT_DIR$/target/sampleWar</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>SPRINGWEB</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SPRINGWEB" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:8.0.18" />
          <element id="library" level="project" name="Maven: com.google.protobuf:protobuf-java:3.6.1" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.1.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.1.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.1.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.1.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:5.1.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:5.1.9.RELEASE" />
          <element id="library" level="project" name="Maven: javax.inject:javax.inject:1" />
          <element id="library" level="project" name="Maven: com.zaxxer:HikariCP:3.4.2" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.25" />
          <element id="library" level="project" name="Maven: com.h2database:h2:1.4.200" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-classic:1.1.7" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-core:1.1.7" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-catalina:8.5.23" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-servlet-api:8.5.23" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-juli:8.5.23" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-annotations-api:8.5.23" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-api:8.5.23" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-jni:8.5.23" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-coyote:8.5.23" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-util:8.5.23" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-util-scan:8.5.23" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-jaspic-api:8.5.23" />
          <element id="library" level="project" name="Maven: org.apache.tomcat.embed:tomcat-embed-core:8.5.23" />
          <element id="library" level="project" name="Maven: org.apache.tomcat.embed:tomcat-embed-jasper:8.5.23" />
          <element id="library" level="project" name="Maven: org.apache.tomcat.embed:tomcat-embed-el:8.5.23" />
          <element id="library" level="project" name="Maven: org.eclipse.jdt:ecj:3.12.3" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-jasper:8.5.23" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-el-api:8.5.23" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-jasper-el:8.5.23" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-jsp-api:8.5.23" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/sampleWar/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="SPRINGWEB/web/Web" />
    </root>
  </artifact>
</component>